.tm
{
    font-size: 200px;
    background-color: chocolate;
    border-radius: 20px;
    color: azure;
}
.dy
{
    color: aliceblue;
    font-size: 50px;
    background-color: rgb(185, 66, 245);
    border-radius: 20px;
}
